doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  style.
    #setup {
    padding: 50px;
    }
    #setup_form {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    width: 350px;
    max-width: 100%;
    }
    #setup_form button {
    width: max-content;
    cursor: pointer;
    }
#setup
  h3 Create user
  form#setup_form(action='/api/setup' method='post')
    label(for='login') Login:
    input#login(type='text' name='login')
    label(for='password') Password:
    input#password(type='password' name='password')
    label(for='name') Name:
    input#name(type='text' name='name')
    label(for='email') Email:
    input#email(type='text' name='email')    
    button(type='submit') Save