doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  style.
    #main {
    padding: 50px;
    }
    img {
    width: 555px;
    max-width: 100%;
    }
#main
  h3 Detective Thresh
  p Setup is already done. User cannot be created here...
  div
    img(src='/dist/thresh.webp' alt='')
