*, ::after, ::before {
	box-sizing: border-box;
}
body {
	margin: 0;
	scroll-behavior: smooth;
}

// -----------------------

.__topnav {
  margin-bottom: 25px;
  display: flex;
  column-gap: 15px;
  font-size: 22px;
  font-weight: 700;
}

.__items {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}